
body {
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    overflow-y: hidden;
}

div .log {
    height: 90vh;
}

.resources {
    font-size: .9rem;
}


/* nav-pills*/
.nav-pills .tab .nav-link:not(.active) {
    background-color: black;
}

.nav-pills .tab .nav-link {
    background-color: #212121;
    color: white;
}


/*tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
}

/*tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: dimgrey;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    /*tooltip position */
    position: absolute;
    z-index: 1;
    bottom: 30%;
    right: 80%;
    margin-right: 60px;

    /*tooltip fade */
    opacity: 0;
    transition: opacity 0.3s;

}

/* tooltip hr*/
.tooltiptext hr {
    margin-bottom: 3px;
    margin-top: 10px;
    background-color: darkgrey;
}


/* show tooltip on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}