body {
    background-color: black;
    color: whitesmoke;
}

/*tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
}

/*tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: dimgrey;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /*tooltip position */
    position: absolute;
    z-index: 1;
    bottom: 30%;
    right: 80%;
    margin-right: 60px;

    /*tooltip fade */
    opacity: 0;
    transition: opacity 0.3s;

}

/* show tooltip on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}